@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "serif";
  src: url(./assets/DIL-Serif-Regular.woff2);
}

@font-face {
  font-family: "serif";
  src: url(./assets/ppeiko-medium.otf);
  font-weight: bold;
}

@font-face {
  font-family: "sans";
  src: url(./assets/sans.woff);
}

body {
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
strong,
h3 p,
h2 p {
  font-family: "serif", sans-serif;
}

p {
  font-family: "sans", sans-serif;
}

@layer utilities {
  .center-absolute {
    transform: translate(-50%, -50%);
  }
}

/* FIXES FOR Puck EDITOR */
.Puck header {
  position: initial;
}
.Puck .home-section {
  margin-top: 0;
}
div[class^="_DropZone-item"],
div[data-rfd-draggable-id^="draggable-Column"],
div[class^="_DraggableComponent-contents"],
div[class^="_DropZone-renderWrapper"] {
  height: inherit;
  width: 100%;
}

.column-widget > div {
  height: fit-content;
}

div[class^="_DraggableComponent-overlay"] {
  position: absolute !important;
}

div[class^="_DrawerItem-draggable"] {
  background-color: transparent !important;
  color: initial !important;
}

div[class^="_DraggableComponent-actions"] {
  height: initial;
}

/* Fix for overlay */
[class^="_DropZone-renderWrapper"] .overlay-content:not(.hasImages) {
  position: inherit;
  transform: translate(0);
  left: 100%;
  top: 0;
  height: fit-content;
}
[class^="_DropZone-renderWrapper"] > .overlay {
  width: 100%;
}

/* CSS fix for column component alignment */
[data-rfd-droppable-id^="Column"] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-widget[style*="align-items: end"]
  [class^="_DraggableComponent-contents"]
  > [class^="_DropZone-renderWrapper"] {
  display: flex;
  justify-content: end;
}

.column-widget[style*="align-items: start"]
  [class^="_DraggableComponent-contents"]
  > [class^="_DropZone-renderWrapper"] {
  display: flex;
  justify-content: start;
}

[data-rfd-drag-handle-draggable-id^="draggable-ParagraphWithBackground"] {
  height: 100%;
}

[class^="_DropZone-renderWrapper"] {
  display: flex;
  justify-content: center;
}

.items-end [data-rfd-droppable-id^="Column"] {
  align-items: flex-end;
}
.items-start [data-rfd-droppable-id^="Column"] {
  align-items: flex-start;
}

/* Override styles to add imgs */
div._DrawerItem-draggable_1qydx_1 {
  background: transparent;
  padding: 0;
  display: flex;
  border: none;
  border-radius: none;
  font-size: var(--puck-font-size-xs);
}
._DragIcon_o29on_1 {
  display: none;
}
